{
  "root": true,
  "extends": "airbnb",
  "plugins": ["jest"],
  "env": {
    "jest/globals": true
  },
  "rules": {
    "no-bitwise": "off",
    "no-lonely-if": "off",
    "class-methods-use-this": "off",
    "arrow-body-style": "off",
    "no-loop-func": "off",
    "no-plusplus": "off",
    "no-param-reassign": "off",
    "no-continue": "off",
    "arrow-parens": "off",
    "space-before-function-paren": "off"
  }
}
